<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<head>
<title th:text="${pagetitle}"></title>
<meta name="description" th:content="${des}"/>
<meta property="og:description" th:content="${vietnamese}" />
<link rel="canonical" th:href="${canonical}"/>
</head>
    <body>
	<h1 th:text="${h1}"></h1>
        
	<div th:if="${is_caculator == true}">
	 <p><span>X1 + X2 = </span><span th:text="${x1 + x2}"></span></p>
	</div>
	
	<h2>LOOOOOOOP</h2>
	<ul th:each="myarr: ${myarrs}">
		<li  th:text="${myarr}"></li>
	</ul>
	
</div> 
</body>
</html>